apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-rcmhotbo
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-rcmhotbo:70e6c1542b1da1f897f50b801246f59968f75a5d@sha256:a8b04f22e474e34d94dcd2552c263f6ef117df9b9087699b1c137264eaea119e
          name: container-image
